#home-post-left-container{
    margin: 20px;
}

#home-right-container{
    margin-left: 20px;
}
.homepage-layout-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#home-profile-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    color: black;
    text-decoration: none;
}

#home-profile-names{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#homepage-profile-pic{
    width: 6vmin;
    height:6vmin;
    border-radius:50%;
    object-fit: cover;
}

.homepage-post-image{
    width: 100%;
}

.post-article-container{
    width: 472px;
    height: fit-content;
}

.post-header{
    width: 472px;
    height: 58px;
    border: 1px solid #D6D6D6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFFFFF;
    text-decoration: none;
    color: black;
}

#homepage-post-pic{
    width:4vmin;
    height:4vmin;
    border-radius:50%;
    margin: 10px;
    object-fit: cover;
}

.post-bottom-content{
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-top: none;
    padding-right: 11px;
    padding-left: 11px;
    padding-top: 7px;
    background-color: #FFFFFF;
    width: 450px;
}

.post-picture-content{
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 472px;
    background-color: white;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    background-color: #cfdddd;
}

.post-bottom-comments-head{
    color: #989898;
    margin-bottom: 13px;
    font-size: 15px;
}

.post-bottom-dateCreated{
    color: #989898;
    font-size: small;
    margin-top: 0px;
}

#homepage-post-username{
    font-weight: 500;
    font-size: 15px;
    margin-left: 5px;
}

#home-profile-username{
    font-weight: 500;
    font-size: 14px;
}

#home-profile-realname{
    font-size: 14px;
    margin-top: 3px;
    color: #949393;
}

#home-suggestion-container{
    margin-top: 15px;
}

#home-suggestions-text{
    font-weight: 800;
    font-size: 15px;
    color: #8f8e8e;
}

.post-like-section{
    margin-top: 0px;
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 15px;
}

.post-owner-username-section{
    font-weight: 600;
    font-size: 15px;
}

.post-owner-bio-section{
    font-size: 14px;
    margin-left: 5px;
    font-weight: 300;
    overflow-wrap: break-word;
}

.outside-recommended-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    margin-bottom: 15px;
    text-decoration: none;
}

.recommendedUser-profile-pic{
    width: 3.5vmin;
    height: 3.5vmin;
    border-radius:50%;
    object-fit: cover;
}

.recommendedUser-side-info{
    display: flex;
    flex-direction: column;
}

.recommendedUser-username{
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1px;
    margin-top: 2px;
    color: black;
}

.recommendedUser-text-below{
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    margin-left: 10px;
    color: #A2A2A2;
}
