.modal-container{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background-color: transparent;
    width: 68%;
    height: 95%;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 10px;
}

body{
    margin-right: 0px;
    margin-left: 0px;
}

.close-modal-btn{
    position: absolute;
    right: 15px;
    top: 15px;
}

.modal-image{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: black;
    justify-content: center;
}

.modal-image-content{
    width: 100%;
}

.modal-commment-section{
    width: 50%;
}

.modal-profile-container{
    width: 50%;
    max-width: 500px;
    background-color: white;
    border-top-right-radius: 10px;
}

.top-modal-profile-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 20px;
    border-bottom: 1px solid #EFEFEF;
    border-top-right-radius: 10px;
    height: 6%;
}

.modal-comments-container{
    height: 83.3%;
}

.modal-add-comments-container{
    height: 10%;
}

.modal-outside-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-post-options:hover{
    cursor: pointer;
}

.modal-options-content{
    width: 250px;
    height: 100px;
    background-color: white;
    border-radius: 15px;
}

.modal-delete-post{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

.modal-goback-post{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-options-content > div:hover{
    cursor: pointer;
}

.modal-user-photo{
    width:4vmin;
    height:4vmin;
    border-radius:50%;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.modal-header-user{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal-header-username-bold{
    margin-left: 14px;
    font-weight: 500;
    font-size: 15px;
}

.comment-container{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.modal-comment-image-container{
    width: 50px;
    height: 40px;
}

.comment-image-content{
    width:4vmin;
    height:4vmin;
    border-radius:50%;
    object-fit: cover;
    background-position: center;
}

.comment-content-text{
    font-size: 14px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-edit-buttons{
    margin: 5px;
    margin-left: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #939393
}

.comment-edit-btn{
    margin-right: 5px;
}
