.nav-bar-container{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    background-color: #FFFFFF;
}

.nav-bar-content{
    width: 975px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    align-items: center;
}

#nav-logo-image{
    width: 150px;
}

#logo-nav-bar-container{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 35%;
}

#nav-bar-search-container{
    width: 30%;
}

#nav-bar-buttons-container{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

.dropdown-container{
    position: absolute;
    top: 72px;
    width: 200px;
    height: fit-content;
    border: 1px solid lightgray;
    transform: translateX(-70%);
    background-color: white;
    border-radius: 5px;
}

.dropdown-list-content{
    list-style: none;
    padding: 0px;
}

#nav-bar-user-picture{
    width:3vmin;
    height:3vmin;
    border-radius:50%;
    margin-left: 8px;
    margin-right: 5px;
}

#nav-bar-user-picture:hover{
    cursor: pointer;
}

.dropdown-section{
    text-decoration: none;
    width: 180px;
    height: 20px;
    margin-bottom: 13px;
    margin: 13px;
}

.dropdown-section:hover{
    font-size: 18px;
}

.dropdown-section-logout{
    width: 200px;
    height: fit-content;
    border-top: 1px solid black;
}

.dropdown-section-logout:hover{
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.drop-anchor-tag-section{
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.log-out-button-main{
    background-color: transparent;
    border: none;
    font-size: 15px;
    margin-left: 13px;
    margin-top: 7px;
    padding-bottom: 10px;
    font-weight: 400;
}


.log-out-button-main:hover{
    cursor: pointer;
}
