.post-bottom-comment-sect{
    border-bottom: 1px solid #D6D6D6;
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    height: 35px;
}

.post-bottom-comment-box{
    width: 90%;
    margin-left: 5px;
    border: none;
    color: #ADADAD;
    font-size: 14px;
    background-color: #FFFFFF;
    outline: none;
}

.post-comment-btn{
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    color: #0095F7;
}

.post-comments-unactive{
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
    color: #B8E2FD;
    margin-left: 15px;
    margin-right: 15px;
}

.post-comment-btn:hover{
    cursor: pointer;
}

.modal-bottom-comment-sect{
    border-bottom-right-radius: 10px;
    border-top: 1px solid #D6D6D6;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
}

.form-input-comment-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.form-comments-container{
    display: flex;
    flex-direction: row;
    width: 90%;
}

#modal-comments-emoji-content{
    margin-left: 7px;
    margin-right: 7px;
}

.modal-comment-btn{
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #0095F7;
}

.modal-comment-btn:hover{
    cursor: pointer;
}

.modal-comments-unactive{
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    color: #B8E2FD;
    padding-left: 5px;
    padding-right: 5px;
}
