#profilePage-profile-pic{
    width: 150px;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 150px;
    object-fit: cover;
}

.top-profile-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.profie-single-post{
    margin: 15px;
}

.post-container-block{
    border-top: 1px solid lightgray;
    margin-top: 25px;
    padding-top: 10px;
    width: 1000px;
    height: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
}
.bottom-body-profile-post{
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profilepage-indv-post{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    background-position: center;
    background-size: cover;
}

.profilepage-indv-post:hover{
    filter: brightness(70%);
}

.post-info-overlay{
    position: absolute;
    width: 100%;
}

#profilePage-profile-pic{
    width: 15vmin;
    height: 15vmin;
    min-width: 160px;
    min-height: 155px;
    border-radius:50%;
}

.profile-short-info-numbers{
    font-weight: 500;
}

.profile-short-info-text{
    font-weight: 300;
}

.profile-info-section{
   display: flex;
   flex-direction: row;
}

.profile-short-info-container{
    margin-right: 10%;
    white-space: nowrap;
}

.profilepage-user-info{
    width: 40%;
    max-width: 600px;
}

.profile-user-edit{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profile-user-edit-btn{
    width: 90px;
    height: 30px;
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    font-weight: bold;
}

#profile-user-edit-btn:hover{
    cursor: pointer;
}

#profile-username-header{
    font-weight: 300;
    font-size: 25px;
}

#profile-real-name-bold{
    font-weight: 600;
    margin: 0px;
}

.profile-name-bio-section{
    margin-top: 24px;
}

#profile-biography-user{
    margin-top: 5px;
    font-weight: 300;
    font-size: 15px;
}
